

#grad {
    background-color: #FFF0F5
}

#headline {
    text-align: center;
    color:  black;
     font-family: 'Abril Fatface', cursive;
  font-style: italic;
         text-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.my-card {
     box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
    
}


.card-body {
    background-color: #fff;
    text-align: center;
}

h5 {
    text-transform: uppercase;
    text-align: center;
    font-size: x-large;
}
.card-text {
    text-align: center;
    font-style: italic;
    color: #A9A9A9
}
.btn-primary {
    background-color: #FF4500;
    border-color: transparent;
    border-radius: 25px;
}
.btn-primary:hover {
    background-color: red;
    border-color: transparent;

    display: inline-block;
    margin: 0 0.5rem;
    transform: scale(1.2);
}
#footer {
    text-align: center;

}
